extends layout

block head-content
    title OpEdAni: Contribute to "#{anime.titles[0]}"
    link(rel='stylesheet' href='/stylesheets/views/anime-contribute.css')

block body-content
    script(src='/scripts/views/anime-contribute.js' type='module')

block main-content