extends layout

block head-content
    title OpEdAni: #{anime.titles[0]}
    link(rel='stylesheet' href='/stylesheets/anime.css')

block body-content
    script(src='/scripts/anime.js' type='module')

block main-content
    div.anime-banner
        div(style=`background-image: url("${anime.thumbnail}")`).anime-banner-background
        img(src=`${anime.thumbnail}`).anime-banner-thumbnail
    header.primary-header
        h1 #{anime.titles[0]}