extends layout.pug

block head-content
    script(src='/scripts/contact.js' type='module')

block main-content
    div.contact-wrapper
        p Thank you for taking the time to contact us. We appreciate questions, comments, and concerns from our users.
        p Note that the OpEdAni team consists of only two people. Please be patient as we try to fully respond to all legitimate emails.
        p Choose the appropriate contact form that best matches your situation.
        select#contact-filter
            option(value='technical') Technical
            option(value='suggestion') Suggestion
            option(value='business') Business
            option(value='other') Other
        p#contact-description Technical issues should be reported if the site does not function as expected or erroneous information is displayed.
        hr
        form#contact-form
            label(for='contact-name') #[i.fa-solid.fa-signature] Name
            input(type='text' autocomplete='off' spellcheck='false' required)#contact-name
            label(for='contact-email') #[i.fa-solid.fa-envelope] Email
            input(type='email' autocomplete='off' spellcheck='false' required)#contact-email
            label(for='contact-message') #[i.fa-solid.fa-message] Message
            textarea(required)#contact-message
            label(for='contact-device' data-technical=true) #[i.fa-solid.fa-laptop] Device
            input(type='text' autocomplete='off' spellcheck='false' placeholder='iPhone 11' data-technical=true required)#contact-device
            label(for='contact-url' data-technical=true) #[i.fa-solid.fa-link] URL
            input(type='url' autocomplete='off' spellcheck='false' placeholder='https://opedani.net/anime?id=1234' data-technical=true)#contact-url
            button(type='submit').util-span-2 #[i.fa-solid.fa-paper-plane] Submit