extends layout.pug

block head-content
    script(src='/scripts/index.js' type='module')

block main-content
    div.util-column-outer
        input(type='text' placeholder='Search anime...' autocomplete='off' spellcheck='false' autofocus)
        div.util-row-inner
            select
                option Category...
                option Anime (Default)
                option Oped
                option User
            select
                option Filter...
                option Rank (Default)
                option Title
        hr
        div.util-column-inner
            article.anime-result
                button(type='button').util-go
                    i.fa-solid.fa-eye.fa-2x
                img(src='/images/thumbnail.png' alt='<Thumbnail>').util-thumbnail
                div.util-column-inner
                    div.util-column-outer
                        header #[cite Steins;Gate]
                        div #[i.fa-solid.fa-circle-play] Openings: 1
                        div #[i.fa-solid.fa-circle-stop] Endings: 1
                    div.anime-result-stats
                        div #[i.fa-solid.fa-star] 9.08
                        div #[i.fa-solid.fa-ranking-star] #4