extends layout.pug

block head-content
    script(src='/scripts/index.js' type='module')

block main-content
    div.index-wrapper
        input(type='text' placeholder='Search anime...' autocomplete='off' spellcheck='false' autofocus)#index-searchbar
        div.search-filters
            select
                option Anime
                option Oped
                option User
            select
                option Rank
                option Title
        hr
        div.search-results.util-hidden#search-results
        button(type='button').util-hidden#search-results-load
            i.fa-solid.fa-arrow-down.fa-2x