extends layout.pug

block head-content
    script(src='/scripts/index.js' type='module')

block main-content
    div.index-wrapper
        input(type='text' placeholder='Search anime...' autocomplete='off' spellcheck='false')#index-searchbar
        div.index-options
            select#index-category
                option(value='anime') Anime
                option(value='user') User
            select#index-filter
                option(value='title') Title
                option(value='studio') Studio
        hr
        div.index-results#index-results
            div.util-no-results This query does not match any anime.
        button(type='button').util-hidden#index-results-load #[i.fa-solid.fa-arrow-down] Continue
        hr