extends layout.pug

block head-content
    link(rel='stylesheet' href='/css/index.css')
    script(src='/js/index.js')

block body-content
    div.logo-main
    
    div.search-main
        div.search-main-submit
            i.fa-solid.fa-magnifying-glass.fa-3x
        input.search-main-input(type='text')