extends layout.pug

block head-content
    link(rel='stylesheet' href='/css/index.css')
    script(src='/js/scripts/index.js' type='module')

block main-content
    form.searchbar-primary#searchbar-primary
        button(type='submit').util-button-secondary
            i.fa-solid.fa-magnifying-glass.fa-3x
        input(type='text' placeholder='Search anime...' autocomplete='off').searchbar-primary-input#searchbar-primary-input
    div.autocomplete.hidden#autocomplete-primary