extends layout.pug

block head-content
    script(src='/scripts/index.js' type='module')

block main-content
    div.index-wrapper
        input(type='text' placeholder='Search anime...' autocomplete='off' spellcheck='false')#index-searchbar
        div.search-filters
            select#search-filters-category
                option(value='anime') Anime
                option(value='oped') Oped
                option(value='user') User
            select#search-filters-sort
                option(value='rank') Rank
        hr
        div.search-results.util-hidden#search-results
        button(type='button').util-hidden#search-results-load #[i.fa-solid.fa-arrow-down] Continue