doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='OpEdAni is the best place to rate and discuss anime openings and endings.')
        meta(name='keywords' content='anime, rate, rank, opening, ending, op, ed')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/stylesheets/prefix.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        block head-content
        link(rel='stylesheet' href='/stylesheets/postfix.css')
    body
        nav.layout-nav
            div.layout-nav-item
                button.icon-link
                    i.fa-solid.fa-bars.fa-2x
                    p(data-breakpoint='gt-medium') Menu
            div#layout-search-container(data-breakpoint='').layout-nav-item
                form#layout-search-form.layout-search-form
                    button(type='submit').icon-link
                        i.fa-solid.fa-search.fa-2x
                    input#layout-search-query(type='text' placeholder='Search...' autocomplete='off' spellcheck='false' minlength='3' required)
                    div#layout-result-container.layout-result-container.hidden
            div(data-unauth).layout-nav-item
                button.icon-link
                    i.fa-solid.fa-arrow-right-to-bracket.fa-2x
                    p(data-breakpoint='gt-medium') Sign In
            div(data-unauth).layout-nav-item
                button.icon-link
                    i.fa-solid.fa-user-plus.fa-2x
                    p(data-breakpoint='gt-medium') Sign Up
            div(data-auth).layout-nav-item
                button.icon-link
                    i.fa-solid.fa-arrow-right-from-bracket.fa-2x
                    p(data-breakpoint='gt-medium') Sign Out
        main
            block main-content
        footer.layout-footer
            div.flex-row.gap-large
                a(href='https://discord.gg/RGtp75F3k7' target='_blank').icon-link
                    i.fa-brands.fa-discord.fa-2x
                    p(data-breakpoint='gt-small') Discord
                a(href='https://github.com/opedani/webapp-opedani' target='_blank').icon-link
                    i.fa-brands.fa-github.fa-2x
                    p(data-breakpoint='gt-small') Github
            p Copyright &copy #{new Date().getFullYear()} OpEdAni Team
        script(src='https://kit.fontawesome.com/9020366a17.js' crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        script(src='/scripts/authenticate.js' type='module')
        script(src='/scripts/layout.js' type='module')
        block body-content