doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='OpEdAni is a place to rank and discuss anime opening and ending songs and animations.')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title OpEdAni: Anime Openings &amp Endings
        link(rel='stylesheet' href='/css/layout.css')
        script(src='https://kit.fontawesome.com/9020366a17.js' crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        script(src='/js/modules/persist.js' type='module')
        script(src='/js/modules/autocomplete.js' type='module')
        script(src='/js/scripts/layout.js' type='module')
        block head-content
    body
        nav.layout-nav
            div.layout-nav-button#layout-nav-home
                i.fa-solid.fa-house.fa-2x
            div.layout-nav-button#layout-nav-search
                i.fa-solid.fa-magnifying-glass.fa-2x
            div.layout-nav-button
                i.fa-solid.fa-bars.fa-2x
        div.layout-search-wrapper.util-hidden
            i.layout-search-button.fa-solid.fa-magnifying-glass.fa-2x
            input.layout-search-input(type='text' placeholder='Search anime title...')
        block body-content
        footer
            div.footer-copyright Copyright &copy #{new Date().getFullYear()} Kage &amp Klayton Kowalski