doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='OpEdAni is the best place to rate and discuss anime openings and endings.')
        meta(name='keywords' content='anime, rate, rank, opening, ending, op, ed')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/stylesheets/opedani.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        block head-content
    body
        nav.nav-layout

        main
            block main-content
        footer.footer-layout
            div.flex-row
                a(href='https://discord.gg/RGtp75F3k7' target='_blank').button-link
                    i.fa-brands.fa-discord.fa-2x
                    p.button-link-label Discord
                a(href='https://github.com/opedani/webapp-opedani' target='_blank').button-link
                    i.fa-brands.fa-github.fa-2x
                    p.button-link-label Github
            p Copyright &copy #{new Date().getFullYear()} OpEdAni Team
        script(src='https://kit.fontawesome.com/9020366a17.js' crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        script(src='/scripts/authenticate.js' type='module')
        script(src='/scripts/layout.js' type='module')
        block body-content