extends layout

block head-content
    title OpEdAni: #{oped.titles[0]}
    link(rel='stylesheet' href='/stylesheets/oped.css')

block body-content
    script(src='/scripts/oped.js' type='module')

block main-content