extends layout

block head-content
    title OpEdAni: Page Not Found
    link(rel='stylesheet' href='/stylesheets/views/page-not-found.css')

block body-content
    script(src='/scripts/views/page-not-found.js' type='module')

block main-content
    div.page-not-found-container
        h1.page-not-found-heading 404
        p.page-not-found-subheading Page Not Found