extends layout

block head-content
    title OpEdAni: Search
    link(rel='stylesheet' href='/stylesheets/search.css')

block body-content
    script(src='/scripts/search.js' type='module')

block main-content
    