extends layout

block head-content
    link(rel='stylesheet' href='/stylesheets/sign-out.css')

block body-content
    script(src='/scripts/sign-out.js' type='module')

block main-content
    div.center-frame
        header.icon-text
            i.fa-solid.fa-arrow-right-from-bracket.fa-2x
            h1 Sign Out
        p See you next time.