extends layout

block head-content
    title OpEdAni: Anime Openings &amp Endings
    link(rel='stylesheet' href='/stylesheets/song.css')

block body-content
    script(src='/scripts/song.js' type='module')

block main-content