extends layout

block head-content
    title OpEdAni: Contribute to "#{song.titles[0]}"
    link(rel='stylesheet' href='/stylesheets/views/song-contribute.css')

block body-content
    script(src='/scripts/views/song-contribute.js' type='module')

block main-content