.anime-thumbnail
{
    align-self: center;
    object-fit: cover;
    width: 300px;
}

.anime-opeds
{
    display: flex;
    flex-direction: column;
}

.anime-opeds-item
{
    border-top: 1px solid var(--color-gray-dark);
    display: flex;
}

.anime-opeds-item:first-child
{
    border-top: none;
    display: flex;
}

.anime-opeds-go
{
    padding: 10px;
}

.anime-opeds-info
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 10px;
}

.anime-mal
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.anime-about
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.anime-about-description
{
    background-color: var(--color-black);
    border-top: 1px solid var(--color-gray-dark);
    padding: 10px;
}