.anime-results
{
    display: flex;
    flex-direction: column;
}

.anime-results-item
{
    border-top: 1px solid var(--color-gray-dark);
    display: flex;
    height: 320px;
}

@media only screen and (max-width: 800px)
{
    .anime-results-item
    {
        height: 160px;
    }
}

.anime-results-item:last-child
{
    border-bottom: 1px solid var(--color-gray-dark);
}

.anime-results-go
{
    background-color: var(--color-primary);
    padding: 20px;
}

.anime-results-thumbnail
{
    width: 220px;
}

@media only screen and (max-width: 800px)
{
    .anime-results-thumbnail
    {
        width: 110px;
    }
}

.anime-results-info
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.anime-results-load
{
    padding: 20px;
}