.anime-results-feedback
{
    color: var(--color-gray);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.anime-results
{
    display: flex;
    flex-direction: column;
}

.anime-results-item
{
    display: flex;
}

.anime-results-go
{
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-primary-dark);
    padding: 10px;
}

.anime-results-item:last-child > .anime-results-go
{
    border-bottom: 1px solid var(--color-primary-dark);
}

.anime-results-thumbnail
{
    object-fit: cover;
    width: 100px;
}

.anime-results-info
{
    border-top: 1px solid var(--color-gray-dark);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 10px;
}

.anime-results-item:last-child > .anime-results-info
{
    border-bottom: 1px solid var(--color-gray-dark);
}

.anime-results-load
{
    padding: 20px;
}