/*****************************************************************************/
/* WRAPPER
/*****************************************************************************/

.index-wrapper
{
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    width: 100%;
}

/*****************************************************************************/
/* OPEDANI
/*****************************************************************************/

.opedani-title
{
    color: var(--color-blue);
    font-size: 64px;
}

.opedani-subtitle
{
    color: var(--color-blue-dark);
    font-size: 24px;
}

/*****************************************************************************/
/* SEARCH BAR
/*****************************************************************************/

.search-main
{
    background-color: var(--color-blue);
    border-bottom: 5px solid var(--color-blue-dark);
    border-radius: 10px;
    color: var(--color-light);
    display: flex;
    gap: 10px;
    margin: 20px 0;
    padding: 10px;
    max-width: 700px;
    min-width: 350px;
    width: 75%;
}

.search-main-input
{
    background-color: var(--color-light);
    border: none;
    border-radius: 10px;
    color: var(--color-dark);
    font-size: 32px;
    padding: 0 10px;
    width: 100%;
}

.search-main-input:focus
{
    outline: none;
}

/*****************************************************************************/
/* AUTOCOMPLETE BOX
/*****************************************************************************/

.autocomplete-anime
{
    background-color: var(--color-blue);
    border-bottom: 5px solid var(--color-blue-dark);
    border-radius: 10px;
    color: var(--color-light);
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    margin-bottom: 20px;
    max-width: 700px;
    min-width: 350px;
    width: 75%;
}

.autocomplete-anime-item
{
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.autocomplete-anime-item:hover
{
    background-color: var(--color-blue-dark);
}

.autocomplete-anime-none
{
    padding: 10px;
    text-align: center;
}