/*****************************************************************************/
/* WRAPPER
/*****************************************************************************/

.index-wrapper
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1 0 auto;
    flex-flow: column;
    width: 100%;
}

/*****************************************************************************/
/* OPEDANI
/*****************************************************************************/

.index-title
{
    color: var(--color-white);
    font-size: 64px;
}

.index-subtitle
{
    color: var(--color-white-dark);
    font-size: 24px;
}

/*****************************************************************************/
/* SEARCH BAR
/*****************************************************************************/

.index-search-wrapper
{
    background-color: var(--color-primary);
    border-bottom: 5px solid var(--color-primary-dark);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    margin: 20px 0;
    max-width: 600px;
    min-width: 300px;
    padding: 10px;
    width: 90%;
}

.index-search-button
{
    border-radius: 10px;
    color: var(--color-white);
    cursor: pointer;
    padding: 10px;
}

.index-search-button:hover
{
    background-color: var(--color-primary-dark);
    color: var(--color-white-dark);
}

.index-search-input-wrapper
{
    width: 100%;
}

.index-search-input
{
    font-size: 24px;
    height: 100%;
}

/*****************************************************************************/
/* AUTOCOMPLETE BOX
/*****************************************************************************/

.index-autocomplete-wrapper
{
    background-color: var(--color-primary);
    border-bottom: 5px solid var(--color-primary-dark);
    border-radius: 10px;
    color: var(--color-white);
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
    max-width: 600px;
    min-width: 300px;
    padding: 10px 0;
    width: 90%;
}

.index-autocomplete-item
{
    cursor: pointer;
    padding: 10px;
}

.index-autocomplete-item:hover
{
    background-color: var(--color-primary-dark);
    color: var(--color-white-dark);
}

.index-autocomplete-none
{
    padding: 10px;
    text-align: center;
}