/*****************************************************************************/
/* WRAPPER
/*****************************************************************************/

.index-wrapper
{
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    width: 100%;
}

/*****************************************************************************/
/* OPEDANI
/*****************************************************************************/

.index-title
{
    color: var(--color-blue);
    font-size: 64px;
}

.index-subtitle
{
    color: var(--color-blue-dark);
    font-size: 24px;
}

/*****************************************************************************/
/* SEARCH BAR
/*****************************************************************************/

.index-search-wrapper
{
    background-color: var(--color-blue);
    border-bottom: 5px solid var(--color-blue-dark);
    border-radius: 10px;
    color: var(--color-light);
    display: flex;
    gap: 10px;
    margin: 20px 0;
    max-width: 600px;
    min-width: 300px;
    padding: 10px;
    width: 75%;
}

.index-search-button-wrapper
{
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.index-search-button-wrapper:hover
{
    background-color: var(--color-blue-dark);
}

.index-search-input
{
    font-size: 32px;
    height: 100%;
}

/*****************************************************************************/
/* AUTOCOMPLETE BOX
/*****************************************************************************/

.index-autocomplete-wrapper
{
    background-color: var(--color-blue);
    border-bottom: 5px solid var(--color-blue-dark);
    border-radius: 10px;
    color: var(--color-light);
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
    max-width: 600px;
    min-width: 300px;
    width: 75%;
}

.index-autocomplete-item
{
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.index-autocomplete-item:hover
{
    background-color: var(--color-blue-dark);
}

.index-autocomplete-none
{
    padding: 10px;
    text-align: center;
}