/*****************************************************************************/
/* GENERAL
/*****************************************************************************/

:root
{
    --color-light: #c8d9e9;
    --color-dark: #1f2225;
    --color-blue: #3675af;
    --color-blue-dark: #285783;
    --color-green: #2f873d;
    --color-green-dark: #23652d;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

::selection
{
    background: var(--color-green);
}

/*****************************************************************************/
/* MAIN NAVIGATION
/*****************************************************************************/

.nav-main
{
    background-color: var(--color-blue);
    border-bottom: 5px solid var(--color-blue-dark);
    color: var(--color-light);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

.nav-main-item:first-child
{
    margin-right: auto;
}

.nav-main-item
{
    padding: 10px;
}

.nav-main-item:hover
{
    background-color: var(--color-blue-dark);
}

/*****************************************************************************/
/* FOOTER
/*****************************************************************************/