.nav-primary
{
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary-dark);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

.nav-primary-button
{
    padding: 10px;
}

.nav-primary-button:first-child
{
    margin-right: auto;
}

.menu-primary
{
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary-dark);
    border-right: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 100%;
    width: 300px;
}

footer
{
    align-items: center;
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}