:root
{
    --color-white: #d0d0d0;
    --color-white-dark: #878787;
    --color-black: #101010;
    --color-primary: #347faa;
    --color-primary-dark: #21526e;
    --color-accent: #e08428;
    --color-accent-dark: #97591a;
    --color-gray: #404040;
    --color-gray-dark: #292929;
}

::selection
{
    background: var(--color-accent-dark);
}

*
{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

html
{
    background-color: var(--color-black);
    background-image: url("/images/background-page.png");
    height: 100%;
}

body
{
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

input[type=text]
{
    background-color: transparent;
    border: 1px solid var(--color-gray-dark);
    color: var(--color-white);
    padding: 0 10px;
}

input[type=text]:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

a
{
    color: var(--color-accent);
    text-decoration: none;
}

a:hover
{
    color: var(--color-accent-dark);
}

p
{
    color: var(--color-white);
    line-height: 1.5;
    white-space: pre-line;
}

button
{
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}

main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

h1
{
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    font-size: 32px;
    padding: 10px;
    text-align: center;
}

h2
{
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

img
{
    color: var(--color-white);
}

.autocomplete
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.autocomplete-item
{
    border-top: 1px solid var(--color-gray-dark);
    font-size: 20px;
    padding: 10px;
}

.autocomplete-item:last-child
{
    border-bottom: 1px solid var(--color-gray-dark);
}

.util-hidden
{
    display: none !important;
}

.util-button-primary
{
    background-color: var(--color-primary);
}

.util-button-primary:hover
{
    background-color: var(--color-primary-dark);
}

.util-button-secondary
{
    color: var(--color-white);
}

.util-button-secondary:hover
{
    color: var(--color-white-dark);
}

[disabled]
{
    color: var(--color-white-dark);
    cursor: auto;
}

.util-button-primary[disabled]
{
    background-color: var(--color-gray);
}

.util-button-primary[disabled]:hover
{
    background-color: auto;
}