.anime-banner
{
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.anime-banner-background
{
    background-color: var(--color-black-dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.anime-banner-thumbnail
{
    max-width: 180px;
    min-height: 240px;
    position: relative;
}

@media screen and (min-width: 640px)
{
    .anime-banner-thumbnail
    {
        max-width: 300px;
        min-height: 400px;
    }
}

.anime-header
{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.anime-oped
{
    background-color: var(--color-black);
    box-shadow: 0 0 10px var(--color-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.anime-oped-bottom
{
    display: flex;
    gap: 20px;
    justify-content: center;
}