.song-theater-container
{
    background-color: var(--color-black-dark);
    display: flex;
    justify-content: center;
}

.song-theater
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 1280px;
}

.song-theater-video
{
    aspect-ratio: 16 / 9;
}

.song-theater-bottom
{
    align-items: center;
    background-color: var(--color-black);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr auto 1fr;
}

.song-theater-button-left
{
    border-bottom-right-radius: 5px;
}

.song-theater-button-right
{
    border-bottom-left-radius: 5px;
}

.song-header
{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}