.song-theater
{
    align-items: center;
    background-color: var(--color-shadow);
    display: flex;
    flex-direction: column;
}

.song-theater-video
{
    aspect-ratio: 16 / 9;
    max-width: 640px;
    width: 100%;
}

.song-theater-bottom
{
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.song-header
{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}