.top-nav
{
    background-color: var(--color-black);
    box-shadow: 0 0 10px var(--color-black-dark);
    display: flex;
    gap: 10px;
    padding: 0 10px;
}

#main-nav .top-nav-item:nth-child(3)
{
    margin-right: auto;
}

.top-nav-searchbar
{
    align-items: center;
    display: flex;
    gap: 10px;
}

.bottom-footer
{
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.bottom-footer-socials
{
    display: flex;
}