.layout-nav
{
    align-items: center;
    background-color: var(--color-black);
    box-shadow: 0 0 20px var(--color-shadow);
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    position: relative;
}

.layout-nav-item
{
    align-items: center;
    display: flex;
    gap: 20px;
    position: relative;
}

.layout-nav-item:nth-child(2)
{
    flex-basis: 800px;
    margin: 0 auto;
}

@media screen and (max-width: 599px)
{
    .layout-nav-item
    {
        position: initial;
    }
}

.layout-menu-container
{
    animation-duration: 500ms;
    animation-name: fade-in;
    background-color: var(--color-black);
    box-shadow: 0 0 20px var(--color-shadow);
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: calc(100% + 10px);
    width: max-content;
}

@media screen and (max-width: 599px)
{
    .layout-menu-container
    {
        top: 100%;
        width: 100%;
    }
}

.layout-search-form
{
    display: flex;
    flex: 1 1 max-content;
    gap: 20px;
}

.layout-result-container
{
    animation-duration: 500ms;
    animation-name: fade-in;
    background-color: var(--color-black);
    box-shadow: 0 0 20px var(--color-shadow);
    display: flex;
    flex-direction: column;
    left: 0;
    max-height: 50vh;
    overflow: auto;
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
}

@media screen and (max-width: 599px)
{
    .layout-result-container
    {
        top: 100%;
    }
}

@media screen and (max-width: 599px)
{
    .layout-result-thumbnail
    {
        max-width: 60px;
        min-height: 80px;
    }
}

.layout-result-body
{
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: space-between;
}

.layout-result-statistics
{
    border-bottom: 1px solid var(--color-gray-dark);
    border-top: 1px solid var(--color-gray-dark);
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    padding: 10px;
}

.layout-sign-container
{
    animation-duration: 500ms;
    animation-name: fade-in;
    background-color: var(--color-black);
    box-shadow: 0 0 20px var(--color-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    width: 400px;
}

@media screen and (max-width: 599px)
{
    .layout-sign-container
    {
        top: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 599px)
{
    .layout-menu-container
    {
        width: 100%;
    }
}

.layout-footer
{
    background-color: var(--color-black);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}