/********************************************************************/
/* GENERAL
/********************************************************************/

:root
{
    --color-white: #d9d9d9;
    --color-white-dark: #a6a6a6;
    --color-black: #1a1a1a;
    --color-black-dark: #000000;
    --color-primary: #4090bf;
    --color-primary-dark: #265773;
    --color-accent: #9e66cc;
    --color-accent-dark: #6b3399;
    --color-gray: #494950;
    --color-gray-dark: #303036;
    --color-selection: #9e66cc88;
    --color-shadow: #0d0d0d;
    --breakpoint-small: 576px;
    --breakpoint-medium: 992px;
    --breakpoint-large: 1400px;
}

::selection
{
    background: var(--color-selection);
}

/********************************************************************/
/* ELEMENTS
/********************************************************************/

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    background-color: var(--color-black);
    background-image: url('/assets/images/background.png');
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100%;
}

main
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

hr
{
    background-color: var(--color-gray);
    height: 1px;
    border: none;
}

h1
{
    color: var(--color-primary);
    font-size: 32px;
    line-height: 1.5;
}

p
{
    line-height: 1.5;
}

li
{
    line-height: 1.5;
}

label
{
    line-height: 1.5;
}

a
{
    color: var(--color-accent);
    text-decoration: none;
}

a:focus
{
    outline: none;
}

input[type=text]
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
}

input[type=text]:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

input[type=email]
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
}

input[type=email]:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

input[type=password]
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
}

input[type=password]:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

select
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
}

select:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

button
{
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--color-white);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

button:focus
{
    outline: none;
}

/********************************************************************/
/* ABSTRACTIONS
/********************************************************************/

.button-link
{
    align-items: center;
    color: var(--color-white);
    display: flex;
    gap: 10px;
    min-height: 32px;
    min-width: 32px;
}

.button-link:focus
{
    color: var(--color-white-dark);
}

@media screen and (max-width: 576px)
{
    .button-link-label
    {
        display: none !important;
    }
}

.button-box
{
    border: 1px solid var(--color-gray-dark);
    padding: 10px;
}

.button-box:focus
{
    border: 1px solid var(--color-gray);
}

.icon-small
{
    font-size: 16px;
    height: 16px;
    width: 16px;
}

.icon-large
{
    font-size: 32px;
    height: 32px;
    width: 32px;
}

.icon-text
{
    align-items: center;
    display: flex;
    gap: 10px;
}

.center-frame
{
    background-color: var(--color-black);
    box-shadow: 0 10px 10px var(--color-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    max-width: 640px;
    padding: 10px;
    width: 100%;
}

.thumbnail
{
    object-fit: cover;
    object-position: center;
    height: 100%;
    max-width: 120px;
    max-height: 160px;
    width: 100%;
}

/********************************************************************/
/* UTILITIES
/********************************************************************/

.flex-grow
{
    flex: 1 0 max-content;
}

.flex-row
{
    display: flex;
    gap: 10px;
}

.flex-column
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.padding
{
    padding: 10px;
}

.hidden
{
    display: none !important;
}