/*****************************************************************************/
/* COMMON
/*****************************************************************************/

:root
{
    --color-white: #d9d9d9;
    --color-white-dark: #a6a6a6;
    --color-black: #1a1a1a;
    --color-primary: #4090bf;
    --color-primary-dark: #265773;
    --color-accent: #8640bf;
    --color-accent-dark: #502673;
    --color-gray: #494950;
    --color-gray-dark: #303036;
}

::selection
{
    background: var(--color-accent-dark);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    background-color: var(--color-black);
    background-image: url("/images/background-page.png");
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main
{
    display: flex;
    flex-direction: column;
}

footer
{
    align-items: center;
    background-color: var(--color-black);
    border-top: 1px solid var(--color-gray-dark);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;
    padding: 20px;
}

hr
{
    border: none;
    border-top: 1px solid var(--color-gray-dark);
}

button
{
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--color-white);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
}

button:hover
{
    opacity: 0.75;
}

input[type=text],
input[type=email],
input[type=url]
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus
{
    outline: 1px solid var(--color-gray);
}

textarea
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

textarea:focus
{
    outline: 1px solid var(--color-gray);
}

select
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

select:focus
{
    outline: none;
}

img
{
    align-items: center;
    background-color: var(--color-gray-dark);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

a
{
    color: var(--color-accent);
    text-decoration: none;
}

a:hover
{
    color: var(--color-accent-dark);
}

p
{
    line-height: 1.5;
    white-space: pre-line;
}

form
{
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
}

h1
{
    font-weight: normal;
    text-align: center;
}

/*****************************************************************************/
/* ANIMATIONS
/*****************************************************************************/

@keyframes status
{
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

/*****************************************************************************/
/* LAYOUT
/*****************************************************************************/

.layout-nav
{
    background-color: var(--color-black);
    border-bottom: 1px solid var(--color-gray-dark);
    display: flex;
    position: sticky;
    top: 0;
}

.layout-nav-button:first-child
{
    margin-right: auto;
}

/*****************************************************************************/
/* INDEX
/*****************************************************************************/

.index-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.index-filters
{
    display: flex;
    gap: 10px;
}

.index-results
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.index-anime-result
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    display: flex;
}

.index-anime-body
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.index-anime-info
{
    padding: 10px;
}

.index-anime-stats
{
    border-top: 1px solid var(--color-gray-dark);
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    padding: 10px;
}

/*****************************************************************************/
/* ANIME
/*****************************************************************************/

.anime-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.anime-opeds
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.anime-oped
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    display: flex;
}

.anime-oped-body
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.anime-oped-info
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.anime-oped-stats
{
    border-top: 1px solid var(--color-gray-dark);
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    padding: 10px;
}

.anime-info
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*****************************************************************************/
/* CONTACT
/*****************************************************************************/

.contact-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

/*****************************************************************************/
/* UTILITIES
/*****************************************************************************/

.util-go
{
    background-color: var(--color-primary);
    border-right: 1px solid var(--color-primary-dark);
    padding: 10px;
}

.util-thumbnail
{
    max-width: 100px;
    min-width: 100px;
}

.util-banner
{
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
}

.util-banner img
{
    max-width: 300px;
    min-width: 300px;
}

.util-hidden
{
    display: none;
}

.util-span-2
{
    grid-column: 1 / 3;
}

.util-status
{
    animation-name: status;
    animation-duration: 5s;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-primary-dark);
    opacity: 0;
    padding: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}