:root
{
    --color-white: #d9d9d9;
    --color-white-dark: #a6a6a6;
    --color-black: #1a1a1a;
    --color-primary: #4090bf;
    --color-primary-dark: #265773;
    --color-accent: #df8020;
    --color-accent-dark: #864d13;
    --color-gray: #797986;
    --color-gray-dark: #494950;
}

::selection
{
    background: var(--color-accent-dark);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    background-color: var(--color-black);
    background-image: url("/images/background-page.png");
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

