.accessory-message
{
    align-items: center;
    background-color: var(--color-primary-dark);
    bottom: 0;
    box-shadow: 0 0 10px var(--color-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}