@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
}

@keyframes fade-out
{
    100%
    {
        opacity: 0;
    }
}

@keyframes fade-in-out
{
    10%
    {
        opacity: 1;
    }
    90%
    {
        opacity: 1;
    }
}