*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    background-color: var(--color-black-dark);
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100%;
    visibility: hidden;
}

body
{
    background-color: var(--color-black);
    background-image: url('/assets/images/background-dark.png');
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

hr
{
    background-color: var(--color-gray);
    border: none;
    min-height: 1px;
}

h1
{
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
}

h2
{
    color: var(--color-primary);
    font-size: 16px;
    line-height: 1.5;
}

p
{
    line-height: 1.5;
}

li
{
    line-height: 1.5;
}

label
{
    line-height: 1.5;
}

a
{
    color: var(--color-white);
    text-decoration: none;
}

input[type=text]
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type=text]:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

input[type=number]
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type=number]:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

input[type=email]
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type=email]:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

input[type=url]
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type=url]:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

input[type=password]
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type=password]:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

select
{
    appearance: none;
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

select:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

button
{
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--color-white);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

textarea
{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0;
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

textarea:focus
{
    border: 1px solid var(--color-gray);
    outline: none;
}

iframe
{
    border: none;
}

::selection
{
    background: var(--color-selection);
}