:root
{
    --color-white: #d9d9d9;
    --color-white-dark: #a6a6a6;
    --color-black: #1a1a1a;
    --color-black-dark: #000000;
    --color-primary: #64a4ca;
    --color-primary-dark: #35769d;
    --color-accent: #9e66cc;
    --color-accent-dark: #7035a0;
    --color-gray: #494950;
    --color-gray-dark: #303036;
    --color-selection: #9e66cc88;
    --color-shadow: #0d0d0d;
}