.background
{
    background-color: var(--color-black);
}

.soft
{
    color: var(--color-white-dark);
}

.subtle
{
    color: var(--color-gray);
}

.relative
{
    position: relative;
}

.grid
{
    display: grid;
}

.fluid-small, .fluid-medium, .fluid-large
{
    grid-template-columns: 1fr;
}

@media screen and (min-width: 640px)
{
    .fluid-small, .fluid-medium, .fluid-large
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1280px)
{
    .fluid-medium, .fluid-large
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1920px)
{
    .fluid-large
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.span
{
    grid-column: 1 / -1;
}

.flex-row
{
    display: flex;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

.gap
{
    gap: 10px;
}

.gap-large
{
    gap: 20px;
}

.padding
{
    padding: 10px;
}

.padding-large
{
    padding: 20px;
}

.join
{
    justify-content: center;
}

.separate
{
    justify-content: space-between;
}

.fade-in
{
    animation: fade-in 500ms;
}

.fade-out
{
    animation: fade-out 500ms;
}

.hidden
{
    display: none;
}

[data-auth]
{
    display: none;
}

[data-unauth]
{
    display: none;
}

@media screen and (max-width: 639px)
{
    [data-breakpoint=gt-small]
    {
        display: none;
    }
}

@media screen and (max-width: 1279px)
{
    [data-breakpoint=gt-medium]
    {
        display: none;
    }
}

@media screen and (max-width: 1919px)
{
    [data-breakpoint=gt-large]
    {
        display: none;
    }
}

@media screen and (min-width: 640px)
{
    [data-breakpoint=lt-small]
    {
        display: none;
    }
}

@media screen and (min-width: 1280px)
{
    [data-breakpoint=lt-medium]
    {
        display: none;
    }
}

@media screen and (min-width: 1920px)
{
    [data-breakpoint=lt-large]
    {
        display: none;
    }
}